
<div class="links-header">
	<div class="cover" style="background-image: url( {{site.data.links.settings.header.header_image}} )"> </div>
	<div class="profile-card">
		<div class="avatar" style="background-image: url( {{site.data.links.settings.header.rounded_image}} )"></div>
		<div class="profile-content">
			<div class="name">Goofer</div>
			<div class="bio">{{site.data.links.settings.header.bio}}</div> 
			<!-- <div class="social-links">
				<iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:00ka0j0W9lE9iO3obHwOxd&size=basicl&theme=light&show-count=0" width="92" height="26" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
				<a href="https://open.spotify.com/artist/00ka0j0W9lE9iO3obHwOxd"></a>
			</div> -->
			<div class="social-icons">
				<a class="social-icon-item" target="_blank" href="https://open.spotify.com/artist/00ka0j0W9lE9iO3obHwOxd?si=DPQdTrNMTC6q8YDQ9EmZyQ"><img src="{{'/assets/social_icons/spotify.svg' | relative_url}}" > </a>
				<a class="social-icon-item" target="_blank" href="{{site.data.links.settings.header.social_links[0].youtubeurl}}"><img src="{{'/assets/social_icons/youtube.svg' | relative_url}}" > </a>
				<a class="social-icon-item" target="_blank" href="{{site.data.links.settings.header.social_links[1].instagramurl}}"><img src="{{'/assets/social_icons/instagram.svg' | relative_url}}" ></a>
				<a class="social-icon-item" target="_blank" href="{{site.data.links.settings.header.social_links[2].soundcloudurl}}"><img src="{{'/assets/social_icons/soundcloud.svg' | relative_url}}" ></a>
				<a class="social-icon-item" target="_blank" href="{{site.data.links.settings.header.social_links[3].twitterurl}}"><img src="{{'/assets/social_icons/twitter.svg' | relative_url}}" ></a>
				<a class="social-icon-item" target="_blank" href="{{site.data.links.settings.header.social_links[4].twitchurl}}"><img src="{{'/assets/social_icons/twitch.svg' | relative_url}}" ></a>
			</div>
		</div>
	</div>
</div>

