<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Goofer | {{page.title}}</title>
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url}}">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	
</head>
<body>
	{{content}}
	<div class="copyright">&copy 1983 - {{ "now" | date: "%Y" }} Goofer - All Rights Reserved.</div>

	<script src="{{ '/assets/js/bundle.js' | relative_url}}"></script>

	<script>
		main.sendNotification('Links Page')
	</script>
</body>
</html>